.customButton {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  min-width: 14vw;
  letter-spacing: 0.5px;
  height: 3vw;
  font-size: 15px;
  font-weight: bolder;
  opacity: 0.7;
  
  display: flex;
  justify-content: center;
}

.customButton:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.customButton .inverted {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.customButton .inverted :hover {
  background-color: black;
  color: white;
  border: none;
}
