.customButton {
  transition-duration: 0.4s;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.customButton:hover {
  background-color: black;
  color: white;
}
.customButton:active{
  transition-duration: 0.1s;
  background-color: grey;
  color: white;
}
