.customButton {
  background-color: #007aff;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.customButton:hover {
  background-color: #0a84ff;
  color: white;
}

.inverted {
  background-color: white;
  color: #333333;
}

.inverted:hover {
  background-color: white;
  color: #007aff;
}

.active {
  background-color: white;
  color: #0a84ff;
}
.active:hover {
  background-color: white;
  color: #0a84ff;
}

.google {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0.5rem 2rem;
}


.checkout {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #333333;
  color: white;
  padding: 0.5rem 2rem;
}

.checkout:hover {
  background-color: #636366;
  color: white;
}