.customButton {
  transition-duration: 0.4s;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  outline:none;
}

.customButton:hover {
  background-color: black;
  color: white;
}

.inverted {
  background-color: white;
  color: #333333;
}

.inverted:hover {
  background-color: white;
  font-weight: bold;
  color: #007aff;
}

.active {
  background-color: white;
  font-weight: bold;
  color: #0a84ff;
}
.active:hover {
  background-color: white;
  font-weight: bold;
  color: #0a84ff;
}
