.item-description-text{
    text-decoration: none;
    width: 80%;
    margin: auto;
}

.item-description-extra{
    color: #EB5C7E;
    font-size: small;
}
.item-description{
    align-self: flex-end;
    margin: 0 auto;
}

.item-description-price-numItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item-description-numItems{
    background-color: #EB5C7E;
    color: white;
    border-radius: 50%;
    width: 10%;
}