.item-description-text{
    text-decoration: none;
}

.item-description-extra{
    color: #EB5C7E;
    font-size: small;
}
.item-description{
    align-self: flex-end;
    margin: 0 auto;
}

.item-description-price-numItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-description-price{
    margin: 0 0.2rem;
}

.item-description-numItems{
    margin: 0 0.2rem;
    color: #EB5C7E
}