.main-nav_item_checkout_icon {
  padding: 0 2vw;
}
.main-nav_checkout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.item-count {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(198, 198, 198);
}

@media only screen and (max-width: 600px) {
  .main-nav_checkout {
    padding: 1rem;
  }
  .main-nav_checkout:active {
    background-color: #0a84ff;
  }
}
