.card-with-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    align-items: center;
}

.card-with-description-card {
  width: 48%;
}
.card-with-description-description {
  width: 48%;
}
