.my-orders-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .my-orders-container {
    grid-template-columns: 1fr;
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 800px) {
    .my-orders-container {
      grid-template-columns: 1fr;
      width: 80%;
      margin: auto;
    }
  }
  
