.collection-page-breadcrumb {
  margin: 0 auto;
  text-align: center;
  height: 6em;
  border-bottom: 1px solid #E5E5EA;
}

.collection-page-breadcrumb h1 {
  margin: 0 auto;
  padding: 1rem;
  font-size: -webkit-xxx-large;
  color: #636366;
}