.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    height: 100%;
  padding: 2rem;
}
.card-light {
  background-color: white;
}
.card-dark {
  background-color: #f2f2f2;
}
.card-special-top-right {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #ededed;
}

@media only screen and (max-width: 600px) {
  .card-special-top-right {
    background-color: #ededed;
  }
}