.SpinnerOverlaySmall {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .SpinnerContainerSmall {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    border-top-color: #0a84ff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  