header {
  grid-area: header;
  position: fixed;
  background: rgb(29, 29, 31);
  width: 100%;
  opacity: 0.9;
  height: 1.5rem;
}

.header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.header-li {
  list-style-type: none;
  text-decoration: none;
  color: rgb(198, 198, 198);
  padding: 0 3vw;
  font-size: 0.8rem;
}

.header-li:hover {
  color: white;
}