.main-header {
  grid-area: header;
  position: fixed;
  background: rgb(29, 29, 31);
  width: 100%;
  opacity: 0.9;
  padding: 0.3rem 0;
}

.main-nav_item_mobile {
  display: none;
  padding: 0 2vw;
  cursor: pointer;
  text-align: -webkit-right;
}

.main-nav_item_mobile_menu {
  width: 1.2rem;
  height: 0.17rem;
  background-color: #ffffff;
  margin: 0.2rem 0;
  border-radius: 2px;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav_item_checkout_icon,
.main-nav_main_icon {
  padding: 0 2vw;
}

.main-nav-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-nav-ul > a:hover {
  color: white;
}

.link {
  padding: 0 3vw;
  text-decoration: none;
  color: rgb(198, 198, 198);
  font-size: 0.8rem;
  cursor: pointer;
}

.link:hover {
  color: white;
}
.main-nav-ul > a {
  text-decoration: none;
  color: rgb(198, 198, 198);
  font-size: 0.8rem;
}

.main-nav-li {
  padding: 0 3vw;
}

.main-nav_checkout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.item-count {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(198, 198, 198);
}

@media only screen and (max-width: 600px) {
  .main-nav-ul {
    display: block;
    text-align: center;
    width: 100%;
  }
  .main-nav-li {
    display: block;
    padding: 1rem;
  }
  .main-nav-li:active {
    background-color: #0a84ff;
  }

  .main-nav-li:first-child {
    border-top: 1px solid #eaeaeb;
    border-bottom: 1px solid #eaeaeb;
  }
  .main-nav_item {
    display: block;
    padding: 1rem;
  }
  .main-nav_item_mobile {
    display: block;
  }
  .main-header {
    background: #292929;
    opacity: 1;
  }
  .menuOn {
    display: block;
  }
  .menuOff {
    display: none;
  }
  .main-nav_main_icon {
    padding: 1rem;
  }
  .main-nav_main_icon:active {
    background-color: #0a84ff;
  }
  .main-nav_checkout {
    padding: 1rem;
  }
  .main-nav_checkout:active {
    background-color: #0a84ff;
  }
}
