.collection-page-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}
@media only screen and (max-width: 600px) {
  .collection-page-items {
    width: 90%;
  }
}
