.footer-main {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #86868b;
  opacity: 0.9;
}
.footer-main > a {
  padding: 0 0.5rem;
}
