.home-page-top{
  padding: 1rem;
  color: #86868b;
}

.home-page-top-content {
    display: flex;
    margin: auto;
    padding: 0 2vw;
    align-content: center;
    padding-bottom: 1vw;
    width: 80%;
  }
.home-page-top-title{
  display: none;
}

  @media only screen and (max-width: 600px){
    .home-page-top-content {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .home-page-top-title{
      display: inline-block;
    }
  }