.items-row-container {
  padding: 1rem;
  color: #86868b;
}

.items-row-content {
  display: flex;
  margin: auto;
  padding: 0 2vw;
  align-content: center;
  padding-bottom: 1vw;
  width: 80%;
}
.items-row-title {
  display: none;
}

@media only screen and (max-width: 600px) {
  .items-row-content {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .items-row-title {
    display: inline-block;
  }
}
