.form-input-container{
    display: flex;
    flex-direction: column;
}

.form-input{
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin-top: 2rem;
} 

.error{
    color: red;
    font-size: small;
}
.label{
    color: #86868b;
}