.home-page-top {
  display: flex;
  background-color: #F2F2F2;
  margin: auto;
  margin: -2vw 0;
  padding: 0 2vw;
}

.home-page-medium{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5vw auto;
  padding: 0 2vw;
}

.home-page-medium-bottom{
  display: flex;
  background-color: #FAFAFA;

  flex-direction: row;
  margin: auto;
}
.home-page-medium-bottom-description{
  width: 60%;
  margin: auto;
}
