.card-grid-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    height: 100%;
  padding: 1rem;
}
.card-grid-light {
  background-color: white;
}
.card-grid-dark {
  background-color: #f2f2f2;
}
.card-grid-special-top-right {
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: #ededed;
}


/* a {
  text-decoration: none;
  color: #333333;
}
a:hover > .card-grid-content {
  color: #5996d5;
}
 */
/* .card-grid {
  padding: 1rem;
  border-radius: 4%;
  background-color: white;
} */

/* button:hover {
  background-color: #007aff;
  cursor: pointer;
}
 */