.card-grid {
  background-color: #f2f2f2;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover > .card-grid-content {
  color: #5996d5;
  /* background-color: #eaeaea; */
}

.card-grid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
    height: 100%;
}

.card-grid-special-top-right {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #ededed;
}
