.card-grid-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    height: 100%;
  padding: 2rem;
}
.card-grid-light {
  background-color: white;
}
.card-grid-dark {
  background-color: #f2f2f2;
}
.card-grid-special-top-right {
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: #ededed;
}