.banner {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5vw auto;
  padding: 0 2vw;
}

.banner-content {
  display: flex;
  background-color: #fafafa;
  flex-direction: row;
  margin: auto;
}

.banner-content-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-description-card {
  align-self: flex-start;
  margin: 0 auto;
}
.banner-content-item-description {
  align-self: flex-end;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px){
  .banner {
    display: none;
  }
}